<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="ConnectionStringMain" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\NewsDatabase.mdf;Integrated Security=True;User Instance=True"
         providerName="System.Data.SqlClient" />
        <add name="BlueConnect" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\BlueRaiderDataBase.mdf;Integrated Security=True;User Instance=True"
         providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <siteMap defaultProvider="Basic" enabled="true">
            <providers>
                <add name="Basic" type="System.Web.XmlSiteMapProvider" siteMapFile="web.sitemap" securityTrimmingEnabled="true"/>
                <add name="Admin" type="System.Web.XmlSiteMapProvider" siteMapFile="Admin.sitemap" securityTrimmingEnabled="true"/>
            </providers>
        </siteMap>
        <compilation debug="true" targetFramework="4.0"/>
    </system.web>
</configuration>

